* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #5858d8;
  font-family:  Tahoma, sans-serif;
}

h2 {
  text-align: center;
  font-size: 26px;
  padding: 20px;
  color: #ffffff;
}
.wrapper {
  display: flex;
  padding-top: 30px;
  flex-direction: row;

}
.form{
  flex: 1;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  /* box-shadow: 1px 3px 5px silver; */
}
label {
  padding: 10px;
  color: #5858d8;
}
input {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.btn{
margin: auto; 
}
button {
  cursor: pointer;
  padding: 10px 15px;
  width: 200px;
  border-radius: 10px;
  background-color: #5858d8;
  border: none;
  color: white;
  font-size: large;
  margin: 1em;
}
button:hover{
  padding: 15px 25px;
}
#notes-container {
  flex: 1;
  display: none;
  border-left: 1px groove #ffffff;
  
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  list-style-type: none;

}

li > div {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  margin: 10px;
  text-align: center;
  position: relative;
  overflow:hidden;
}
 li > div:hover{
cursor: pointer;
 background-color: #5858d8;
 color: white;
 overflow:auto;
}
li > div:hover caption{
 color: black;
}
caption{
position: absolute;
bottom: 0;
right: 0;
font-size: small;
color: #5858d8;
}
li > div > p{
 font-size: 1em;
 padding: 10px 0px;
 text-align:start;
 word-wrap:normal;
 line-height: 1.5em;
 
 
}
h6{
  font-size: 20px;
}
@media screen and (max-width: 922px) {
  .wrapper{
    flex-direction: column;
  }
  #notes-container{
  background-color: #ffffff;
  }
  button{
  width: 100px;
  }
  li > div{
   border: 2px solid #5858d8;
  }
  .form{
     margin-bottom: 40px;
  }
}