* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#F2E5D7;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

main{
 position: inherit;
 background-color: #F2E5D7;
 margin: 10px;
}

h2 {
  text-align: center;
  font-size: 26px;
  padding: 20px;
  color: #262322;
}
.wrapper {
  display: flex;
  padding-top: 30px;
  flex-direction: row;

}
.form{
  flex: 1;
  margin-bottom: 20px;
  
  

}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15%;
  background-color: #F2E5D7;
  border-radius: 10px;
  padding: 20px;
}
label {
  padding: 10px;
  color: #262322;
}
input, textarea {
  border-radius: 50px;
  padding: 10px;
  margin: 1px;
  background-color: #F2E5D7;
  font-size: 1rem;
  color: #262322;
  border:2px solid #262322;
}
.btn{
display: flex;
justify-content: center;
}
input[type="reset"], input[type="submit"] {
  cursor: pointer;
  padding: 10px 15px;
  width: 200px;
  border-radius: 10px;
  background-color: #262322;
  border: none;
  color: #F2E5D7;
  font-size: large;
  margin: 1em;
}
input[type="reset"]:hover, input[type="submit"]:hover{
  padding: 15px 25px;
}

#notes-container {
  flex: 1;
  justify-content: center;
  display: none;
  border-left: 1px groove #F2E5D7;
  
}
ul{
  display: flex;
  flex-direction: column;
  
}
li {
  list-style-type: none;
  display: flex;
  justify-content: center;

}

li > div {
  width: 80%;
  height: 250px;
  padding: 1rem;
  position: relative;
  box-shadow: 2px 2px 2px 4px #d6c4b1;
  border-radius: 50px;
  background-color: #F2E5D7;
  margin: 10px;
  overflow:hidden;
  
}
 li > div:hover{
cursor: pointer;
 background-color: #262322;
 color: #F2E5D7;
 overflow:auto;
 border-radius: 1px;
 z-index: 1000;
 top: 40px;
 height: 70vh;

}
li > div:hover span{
 color: #d6c4b1;
}
span{
font-size: 0.8em;
color: #262322;
margin-top: 30px;
text-align: left;

}
li > div > p{
 font-size: 1em;
 padding: 10px 0px;
 text-align:start;
 word-wrap:normal;
 line-height: 1.5em;
 
}
li > div:hover button{
background-color: #F2E5D7;
color: #262322;
}
li > div > button{
 width: 100px;
 padding: 5px;
 font-size: 15px;
 background-color: #262322;
 color: #F2E5D7;
 border: none;
 border-radius: 3px;
 position: absolute;
 bottom: 0;

}
 
h6{
  font-size: 20px;
    border-bottom:1px solid #262322;
    padding-bottom: 5px;
   text-align: center;

}
@media screen and (max-width: 922px) {
  .wrapper{
    flex-direction: column;
  }
  form{
  margin: 0 5%;
  }
  #notes-container {
    border-top: 1px groove #F2E5D7;
  }
  button{
  width: 100px;
  }
  li > div{
   height: 200px;
  }
  .form{
     margin-bottom: 40px;
  }
}